 body.painel{
    font:14px Georgia, "Times New Roman", Times, serif;
    color:#333;
    background: #F8F8F8;
} 
a-retirado:link, a:active, a:visited{
    text-decoration: none;
    color:#09f;
}
a-retirado:hover{
    text-decoration: underline;
}
#wrapper-retirado{
    width: 980px;
    margin: 0 auto;
    background: #fff;
}
#header-retirado{
    height: 100px;
    border-bottom: 2px solid #999;
    padding: 10px;
}
#header-retirado h1{
    font-size: 30px;
    margin-top: 30px;
}
#wrap-content-retirado{
    display: table;
    height: auto;
    padding: 10px;
}
#content-retirado
    float: right;
    width: 795px;
    padding-left: 15px;
}
#content-retirado h2{
    font-size: 20px;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
}
#sidebar-retirado{
    float: left;
    width: 150px;
}
#sidebar-retirado ul li{
    padding: 2% 5%;
    width: 90%;
    background: #F8F8F8;
    margin-bottom: 1px;
    font-size: 16px;
    display: block;
}
#accordion ul{
    display: none;
    margin: 5px 10px;
}
#accordion ul li{
    padding: 2%;
    width: 96%;
    background: #fff;
    margin-bottom: 2px;
    display: block;
    font-size: 14px;
}
#footer-retirado{
    height: 20px;
    border-top: 2px solid #999;
    padding: 20px 10px;
    text-align: center;
}
#loginform{
    width: 400px;
    margin:100px auto;
}
fieldset{
    border:1px solid #f4f4f4;
    padding:20px 10px;
}
legend-retirado{
    font-size:16px;
    padding: 0 10px;
}
form li{
    padding:5px;
    margin-bottom:1px;
}
form li.center{
    text-align:center;
}
form li.left{
    text-align: left;
}
form li.right{
    text-align: right;
}
form input[type=submit], form input[type=button]{
    cursor:pointer;
    padding: 5px 25px;
    border:1px solid #ccc;
    margin:0 5px;
}
form input[type=submit]:hover, form input[type=button]:hover{
    background: #f8f8f8;
    border:1px solid #666;
}
form label-retirado{
    float:left;
    width: 100px;
    text-align: right;
    margin-right: 5px;
}
form label.error{
    float:none;
    display: block;
    color:#f00;
    width: auto;
    text-align: left;
    padding-left: 105px;
}
form input[type=text], form input[type=password], form textarea{
    padding: 5px;
    border: 1px solid #ccc;
}
form input[type=text]:focus, form input[type=password]:focus, form textarea:focus{
    background:#f8f8f8;
    border: 1px solid #666;
}

form textarea{
    width:500px;
    height:200px;    
}

.radius5{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
.erro, .sucesso, .alerta, .pergunta{
    width:96%;
    padding:2%;
    margin:10px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
.sucesso{
    background: #eff4d4;
    border: 1px solid #8fad3d;
    color: #596c26;
}
.alerta{
    background: #ffea97;
    border: 1px solid #e2b500;
    color: #995f5b;
}
.erro{
    background: #efcec9;
    border: 1px solid #ad3f30;
    color: #943728;
}
.pergunta{
    background: #c6d8f0;
    border: 1px solid #4381cc;
    color: #5c58b9;
}

.top-buffer { margin-top:10px; }
.botton-buffer { margin-bottom:10px; }
.left-buffer { margin-left:10px; }
.right-buffer { margin-right:1px; }

.left-buffer-zero { margin-left:0px; }

#js-legend ul {
  list-style: none;
}

#js-legend ul li {
  display: inline; 	
  
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

#js-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

 .example-modal .modal {
              position: relative;
              top: auto;
              bottom: auto;
              right: auto;
              left: auto;
              display: block;
              z-index: 1;
            }
        
 .example-modal .modal {
   background: transparent !important;
 }